@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}


/* scroll bar styling */
:root {
  --primary: #FFFFFF;
  --secondary: #4475F2;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}